body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 0 150px;
}

.header h1 {
  font-size: 24px;
  color: #F9FaF8;
}

.header li {
  display: inline-block;
  margin: 10px;
  font-size: 18px;
}

.header a {
  text-decoration: none;
  color: #e5e7eb;
}

.header a:hover {
  color: #1f2937;
  transition: 0.2s all;
}

.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 350px;
}

.hero h1 {
  font-size: 48px;
  color: #F9FaF8;
  font-weight: 900;
  line-height: 50px;
  margin: 0;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 8px;
}

.hero-left-side {
  width: 420px;
  display: flex;
  flex-direction: column;
}

.hero a {
  color: #e5e7eb;
  text-decoration: none;
  background-color: #3882f6;
  font-size: 18px;
  text-align: center;
  padding: 8px;
  margin: 0;
  width: 100px;
  border-radius: 10px;
}

.hero-right-side .img {
  background: #e5e7eb;
  padding: 110px 130px;
}

.main {
  margin: 0 auto;
  height: 450px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.main h1 {
  margin: 40px;
}

.main-boxes {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 900px;
}

.main-boxes p {
  width: 150px;
  display: inline-block;
}

.main-boxes .box {
  padding: 80px;
  border: 5px solid #3882f6;
  border-radius: 10px;
  margin: 0 30px;
}

.quote {
  height: 400px;
  background-color: #e5e7eb;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote p {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  color: #1f2937;
}

.quote h3 {
  margin-left: 560px;
}

.quote-section {
  width: 800px;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 0 auto;
}

.cta-container {
  padding: 50px 120px;
  border-radius: 8px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3882f6;
}

.cta-container-left-side p {
  color: #F9FaF8;
  margin: 0;
}

.cta-container-left-side #tittle {
  font-weight: bold;
}

.cta-container-right-side a {
  border: 2px solid #F9FaF8;
  border-radius: 8px;
  padding: 5px 25px;
  color: #F9FaF8;
  text-decoration: none;
}